<html>
    <head>
        <title>fish-bundles - your source for fish-shell functions</title>

        {% assets "css_base" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}

        {% assets "css_app" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    </head>
    <body>
        <a id="forkme_banner" href="https://github.com/heynemann/fish-bundles">View on GitHub</a>
        <header>
            <div class="logo">
                <div class="container">
                    <a class="icon" href="/"></a>
                    <p class="text">fish-bundles allows fish-shell users to easily share their functions with each other.</p>
                    <p class="buttons">
                        <a class="btn btn-primary btn-lg" role="button">Install</a>
                        <a class="btn btn-lg" href="/create-bundle" role="button">Create a bundle</a>
                        <a class="pull-right read-docs" href="http://docs.bundles.fish" role="button">Read the docs</a>
                    </p>
                </div>
            </div>
        </header>

        {% block main %}{% endblock %}

        <footer>
            <p>fish-bundles is <a href="https://github.com/fish-bundles">open-source software</a> - Licensed under MIT - fish icon free for commercial use by <a href="http://www.aha-soft.com/">aha-soft</a></p>
        </footer>
        {% assets "js_base" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "js_app" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block script %}{% endblock %}
    </body>
</html>
